@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');
body {
  overflow-x:hidden;
}
@font-face {
  font-family: sans-serif;
  src: url(../../Proxima/ProximaNova-Bold.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../Proxima/ProximaNova-Semibold.ttf);
}
main {
  background: #ebebeb;
}

* {
  box-sizing: border-box;
}
h2 {
  font-family: "Proxima Nova",sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}
