@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700");
body {
  overflow-x: hidden; }

@font-face {
  font-family: sans-serif;
  src: url(../Proxima/ProximaNova-Bold.ttf); }
@font-face {
  font-family: sans-serif;
  src: url(../Proxima/ProximaNova-Semibold.ttf); }
main {
  background: #ebebeb; }

* {
  box-sizing: border-box; }

h2 {
  font-family: "Proxima Nova",sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase; }

.general-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0 10%; }

.svg-link {
  display: inline-block;
  width: 10%;
  vertical-align: -webkit-baseline-middle; }

.header-list {
  display: inline-flex;
  width: 89%;
  justify-content: flex-end; }
  .header-list__list {
    padding: 0 8px; }
  .header-list__link {
    padding: 10px 0;
    position: relative;
    color: #ffffff;
    font-family: "Proxima Nova",sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 1s; }
    .header-list__link::before {
      display: block;
      position: absolute;
      content: "";
      height: 4px;
      width: 0;
      background-color: white;
      transition: width .5s ease-in-out, left .5s ease-in-out;
      left: 50%;
      bottom: 0; }
    .header-list__link::after {
      display: block;
      position: absolute;
      content: "";
      height: 4px;
      width: 0;
      background-color: white;
      transition: width .5s ease-in-out;
      left: 50%;
      bottom: 0; }
    .header-list__link:hover::before {
      width: 50%;
      left: 0; }
    .header-list__link:hover::after {
      width: 50%; }

#first {
  fill: rgba(255, 255, 153, 0.73); }

#second {
  fill: rgba(240, 154, 107, 0.73); }

#third {
  fill: rgba(213, 94, 140, 0.73); }

@media screen and (max-width: 742px) {
  .header-list {
    display: none; } }
.landing {
  background: url("../img/laptop.png");
  background-size: 100%;
  padding: 20% 0;
  text-align: center; }
  .landing h1 {
    color: #fefefb;
    font-family: "Proxima Nova",sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase; }
  .landing__text {
    width: 60%;
    margin: 0 auto;
    color: #fefdfd;
    font-family: "PT Sans",sans-serif;
    font-size: 30px;
    font-style: italic; }

@media screen and (max-width: 700px) {
  .landing h1 {
    font-size: 35px; } }
.aboout-us {
  padding: 3% 0; }

.column-left {
  position: relative;
  max-width: 380px;
  max-height: 555px; }
  .column-left__photo {
    width: 100%;
    height: auto; }

.inner {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 25%; }
  .inner h2 {
    color: #fefbfc;
    line-height: 47px; }

.column-right__text {
  color: #665f60;
  font-family: "PT Sans",sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 80px 0; }
.column-right__learn {
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 30px;
  color: #7d7a7c;
  font-family: "PT Sans",sans-serif;
  font-size: 20px;
  font-style: italic;
  border: 1px solid #b4b2b3;
  transition: 1s; }
  .column-right__learn:hover {
    color: #665f60;
    border: 1px solid #665f60;
    transition: 1s; }

@media screen and (max-width: 540px) {
  .column-right__learn {
    width: 40%; } }
.wrapper {
  display: grid;
  grid-template-columns: 33%; }
  .wrapper__heading {
    color: #665f60;
    font-family: "PT Sans",sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }
    .wrapper__heading--white {
      color: #fefcfd;
      font-family: "Proxima Nova",sans-serif;
      font-size: 36px;
      font-weight: 600; }
  .wrapper__text {
    font-family: "PT Sans",sans-serif;
    font-size: 18px;
    font-style: italic; }
    .wrapper__text--white {
      color: #fefcfd; }

.box {
  color: #665f60;
  padding: 50px;
  text-align: center; }

.a {
  grid-column: 1;
  grid-row: 1;
  background-color: #dbdbdb; }

.c {
  grid-column: 2;
  grid-row: 1;
  background-color: #ebebeb; }

.b {
  grid-column: 3;
  grid-row: 1 / 3;
  background: url("../img/grid-bg.png");
  background-size: 100%;
  padding: 30% 50px; }

.d {
  grid-column: 1;
  grid-row: 2;
  background-color: #ebebeb; }

.e {
  grid-column: 2;
  grid-row: 2;
  background-color: #dbdbdb; }

@media screen and (max-width: 800px) {
  .box {
    padding: 5%; } }
@media screen and (max-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: auto; }

  .a {
    grid-column: 3;
    grid-row: 3;
    background-color: #dbdbdb; }

  .d {
    grid-column: 2;
    grid-row: 3;
    background-color: #ebebeb; } }
@media screen and (max-width: 635px) {
  .wrapper__heading {
    font-size: 18px;
    font-weight: 500; } }
.hot-dog {
  background: url("../img/works-bgbg-hotdog.png");
  background-size: cover;
  padding: 2% 0;
  text-align: center; }
  .hot-dog__heading {
    color: #fefcfd;
    font-weight: 600; }
  .hot-dog__link {
    display: block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 15px 30px;
    color: #ffffff;
    font-family: "PT Sans",sans-serif;
    font-size: 20px;
    font-style: italic;
    border: 1px solid #ffffff;
    transition: 1s; }
    .hot-dog__link:hover {
      color: #665f60;
      border: 1px solid #665f60;
      transition: 1s; }

.hd-slider {
  margin: 0 auto;
  max-width: 730px; }
  .hd-slider__photo {
    width: 100%;
    height: auto; }

@media screen and (max-width: 540px) {
  .hot-dog__link {
    width: 40%; } }
.our-team {
  text-align: center;
  padding: 2% 0; }
  .our-team__heading {
    color: #665f60;
    font-weight: 500; }

.team-slider__heading {
  color: #9f9acf;
  font-family: "Proxima Nova",sans-serif;
  font-size: 24px;
  font-weight: 700; }
.team-slider__text {
  color: #665f60;
  font-family: "PT Sans";
  font-size: 24px;
  font-style: italic; }
.team-slider__slide {
  margin: 0 10px;
  background: linear-gradient(to bottom, #ebebeb 0%, #ebebeb 31%, #ffffff 31%, #ffffff 100%); }

.team-slider__slide > img {
  margin: 0 auto; }

.sotial {
  background: #9f9acf;
  padding: 15px 10px; }
  .sotial__list {
    display: inline-block; }
  .sotial__link {
    display: block;
    background: #ebebeb;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    text-align: center;
    color: #9f9acf;
    font-size: 18px;
    margin: 0 2px;
    transition: 2s; }
    .sotial__link i {
      vertical-align: sub; }
    .sotial__link:hover {
      transform: rotate(360deg) scale(1.1);
      transition: transform 600ms; }

footer {
  background: #9f9acf;
  padding: 2% 0; }

.license {
  color: #ffffff;
  font-family: "PT Sans",sans-serif;
  font-size: 18px;
  font-weight: 400; }

footer .sotial {
  text-align: right; }

/*# sourceMappingURL=main.css.map */
